* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-container {
    align-content: center;
}

.arrow {
    border: solid #bbb;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
}

img {
    height: 300px;
    width: auto;
}

#slideshow {
    width: 500px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: black;
}

#progress {
    margin-top: 40px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    width: 200px;
}